<div class="d-flex">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Brand
        </button>
        <ul class="dropdown-menu">
            {% for vehicle in vehicles %}
                <li><a class="dropdown-item"
                       href="{{ path('app_vehicles', {type: 'vehicleBrand', sort: vehicle.vehicleBrand}) }}">{{ vehicle.vehicleBrand }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Model
        </button>
        <ul class="dropdown-menu">
            {% for vehicle in vehicles %}
                <li><a class="dropdown-item"
                       href="{{ path('app_vehicles', {type: 'vehicleModel', sort: vehicle.vehicleModel}) }}">{{ vehicle.vehicleModel }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Class
        </button>
        <ul class="dropdown-menu">
            {% for vehicle in vehicles %}
                <li><a class="dropdown-item"
                       href="{{ path('app_vehicles', {type: 'vehicleType', sort: vehicle.vehicleType}) }}">{{ vehicle.vehicleType }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gear
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item"
                   href="{{ path('app_vehicles', {type: 'vehicleGearBoxType', sort: 'Automatic'}) }}">Automatic</a></li>
            <li><a class="dropdown-item"
                   href="{{ path('app_vehicles', {type: 'vehicleGearBoxType', sort: 'Manuel'}) }}">Manuel</a></li>

        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fuel
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleFuelType', sort: 'Hybrid'}) }}">Hybrid</a>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleFuelType', sort: 'Electric'}) }}">Electric</a>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleFuelType', sort: 'Action'}) }}">Action</a>
            </li>
            <li><a class="dropdown-item"
                   href="{{ path('app_vehicles', {type: 'vehicleFuelType', sort: 'Gas'}) }}">Gas</a></li>
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleFuelType', sort: 'Diesel'}) }}">Diesel</a>
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Seats
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleSeatCount', sort: 2}) }}">2</a>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleSeatCount', sort: 3}) }}">3</a>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleSeatCount', sort: 5}) }}">5</a>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_vehicles', {type: 'vehicleSeatCount', sort: 8}) }}">8</a>
            </li>
        </ul>
    </div>
</div>