{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}

    <div id="fakeloader">
        <div class="spinner5">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="rq-page-content">
            <div class="rq-content-block">
                <div class="container">
                    <div class="rq-title-container bredcrumb-title small">
                        <h2 class="rq-title">Checkout</h2>
                        <ol class="breadcrumb rq-subtitle">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                            <li class="active">Checkout</li>
                        </ol>
                    </div> <!-- end .rq-title-container -->

                    <div class="rq-contact-us-form-content"> <!-- start message form -->
                        <img src="" alt="">
                        <h3>{{ vehicle.vehicleBrand }} {{ vehicle.vehicleModel }}</h3>
                        <h5>Fuel type: {{ vehicle.vehicleFuelType }}</h5>
                        <h5>Class: {{ vehicle.vehicleType }}</h5>
                        <h5>Transmission: {{ vehicle.vehicleGearBoxType }}</h5>
                        <h5>door count: {{ vehicle.vehicleDoorCount }}</h5>
                        <h5>Agency: {{ vehicle.company.name }}</h5>
                        <h3 class="font-size-4">Agency location: {{ vehicle.company.agencyLocation }}</h3>
                        <h3 class="font-size-4">price: <span class="text-danger">{{ vehicle.price }}</span> / day</h3>
                        <div>
{#                            {% for error in errors %}#}
{#                                <li>{{ error }}</li>#}
{#                            {% endfor %}#}
                        </div>
                        <form action="#" method="post">
                            <h4>Please choose the pickup date</h4>
                            <input type="datetime-local" name="startDate" class="contact-form-input" placeholder="start location date">
                            <h4>... the dropoff date</h4>
                            <input type="datetime-local" name="endDate" class="contact-form-input" placeholder="end location date">
                            <h4>... and the dropoff Location</h4>
                            <div class="m-2">
                                <select name="endLocation" id="endLocation">
                                    <option class="" value="">Select a drop off location</option>
                                    {% for company in companies %}
                                        <option value="{{ company.agencyLocation }}" name="endLocation"><strong>{{ company.name }}</strong> {{ company.agencyLocation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="submit-btn">
                                <button type="submit" class="rq-btn rq-btn-primary">Make the reservation</button>
                            </div>
                        </form>
                    </div> <!-- end message form -->

                </div> <!-- end .rq-element-wrapper -->
            </div> <!-- end .container -->
        </div> <!-- end .rq-content-block -->
    </div> <!-- end .rq-page-content -->

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>

{% endblock %}