{% extends 'base.html.twig' %}

{% block title %}Rent page{% endblock %}

{% block body %}

    <div id="fakeloader">
        <div class="spinner5">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div id="main-wrapper">

        <div class="rq-page-content">
            <div class="rq-content-block gray-bg small-padding-top">
                <div class="rq-title-container text-center">
                    <h2 class="rq-title no-padding">list of all our <strong>Cars.</strong></h2>
                </div>

                <div class="container">
                    <div class="listing-search-container">
                        <h2>Search For<span class="dot">.</span></h2>
                        <div class="rq-search-container with-border">
                            {% include '/_includes/_searchbar.html.twig' %}
                        </div>

                    </div> <!-- /.search-container -->
                    <div class="rq-listing-top-bar-filter-option">
                        <div class="filter-list">
                            <h5>Filter by</h5>
                            <div class="filter-single">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Agency
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for company in companies %}
                                            <a href="{{ path('app_listofcars', {type: 'company', sort: company.id}) }}">{{ company.name }}</a><br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="filter-single">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Brand
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for vehicle in vehicles %}
                                            <a href="{{ path('app_listofcars', {type: 'vehicleBrand', sort: vehicle.vehicleBrand}) }}">{{ vehicle.vehicleBrand }}</a><br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="filter-single">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Class
                                    </button>
                                    <ul class="dropdown-menu">
                                        <a href="{{ path('app_listofcars', {type: 'vehicleType', sort: 'sedan'}) }}">sedan</a><br>
                                        <a href="{{ path('app_listofcars', {type: 'vehicleType', sort: 'small'}) }}">small</a><br>
                                        <a href="{{ path('app_listofcars', {type: 'vehicleType', sort: 'MPV'}) }}">MPV</a><br>
                                        <a href="{{ path('app_listofcars', {type: 'vehicleType', sort: 'coupe'}) }}">coupe</a>
                                    </ul>
                                </div>
                            </div>
                            <div class="filter-single">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Fuel
                                    </button>
                                    <ul class="dropdown-menu">
                                        <a href="{{ path('app_listofcars', {type: 'vehicleFuelType', sort: 'electric'}) }}">Electric</a><br>
                                        <a href="{{ path('app_listofcars', {type: 'vehicleFuelType', sort: 'hybrid'}) }}">Hybrid</a><br>
                                        <a href="{{ path('app_listofcars', {type: 'vehicleFuelType', sort: 'gas'}) }}">Gas</a><br>
                                        <a href="{{ path('app_listofcars', {type: 'vehicleFuelType', sort: 'diesel'}) }}">Diesel</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="rq-grid-list-view-option">
                            <a href="{{ path('app_carListGrid') }}" data-class="rq-listing-grid"><i
                                        class="ion-grid"></i></a>
                            <a class="active" href="{{ path('app_carListList') }}" data-class="rq-listing-list"><i
                                        class="ion-navicon"></i></a>
                        </div>
                    </div>

                    <div class="rq-car-listing-wrapper">
                        <div class="rq-listing-choose rq-listing-list">
                            <div class="row">
                                {% for vehicle in vehicles %}
                                    <div class="col-md-4 col-sm-6">
                                        <div class="listing-single">
                                            <div class="listing-img">
                                                <img src="img/car-listing-grid/car1.jpg" alt="">
                                            </div>
                                            <div class="listing-details">
                                                <h3 class="car-name"><a
                                                            href="#">{{ vehicle.vehicleBrand }} {{ vehicle.vehicleModel }}</a>
                                                </h3>
                                                <ul class="rating-list">
                                                    <li><i class="ion-star"></i></li>
                                                    <li><i class="ion-star"></i></li>
                                                    <li><i class="ion-star"></i></li>
                                                    <li><i class="ion-star"></i></li>
                                                    <li><i class="ion-star"></i></li>
                                                </ul>
                                                <ul>
                                                    <li>Class: <span>{{ vehicle.vehicleType }}</span></li>
                                                    <li>seats Count: <span>{{ vehicle.vehicleSeatCount }}</span></li>
                                                    <li>Fuel Type: <span>{{ vehicle.vehicleFuelType }}</span></li>
                                                    <li>Transmission: <span>{{ vehicle.vehicleGearBoxType }}</span></li>
                                                    <li>door count: <span>{{ vehicle.vehicleDoorCount }}</span></li>
                                                    <li>Agency: <span>{{ vehicle.company.name }}</span></li>
                                                </ul>
                                                <div class="listing-footer">
                                                    <span><a href="#">Details</a></span>
                                                    <span>
                            Starting at <span class="price">{{ vehicle.price }}</span> / day
                          </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>  <!-- /.rq-content-block -->
            </div>

        </div> <!-- end #main-wrapper -->
    </div>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>

{% endblock %}
